section.escolha {
    min-height: 100vh;
    padding: 180px 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.escolha .cards-escolha {
    display: grid;
}

section.escolha .card-escolha {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    padding: 2rem;
    border-radius: 4px;
}

section.escolha-escolha .card-escolha h3 {
    font-size: 20px;
}

section.escolha .card-escolha i {
    font-size: 2rem;
    background: #ff0000;
    border-radius: 50%;
    padding: 8px 12px;
    margin-bottom: 10px;
    color: #fff;
}

section.escolha .card-escolha:hover {
    background: #ff0000;
    transition: .2s ease;
}

section.escolha .input-search {
    padding: 0.5rem;
    width: 50%;
    font-size: 14px;
}

section.chat-container {
    min-height: 100vh;
    padding: 180px 8%;
}

.chat-container {
    display: flex;
    flex-direction: column;
}

.messages {
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px 1%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: #eef3f7;
}

.messages span {
    color: #000;
}

.message.enviada {
    display: flex;
    justify-content: flex-end;
    color: #fff;
}

.message.enviada .bubble{
    background: #1E90FF;
    color: #fff;
    padding: 10px 15px;
    border-radius: 15px 15px 0 15px;
    max-width: 60%;
    word-wrap: break-word;
}

.message.recebida {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.message.recebida .bubble{
    background: #e5e5ea;
    color: #000;
    padding: 10px 15px;
    border-radius: 15px 15px 15px 0;
    max-width: 60%;
    word-wrap: break-word;
}

.chat-container .inputs {
    display: flex;
    padding: 10px;
    gap: 4px;
}

.chat-container .inputs input{
    width: 100%;
    border-radius: 4px;
    outline: 0;
    border: 0;
    font-size: 1rem;
}

.chat-container #send, .chat-container #clip  {
    background-color: #1E90FF;
    border: 0;
    border-radius: 100px;
    cursor: pointer;
    padding: 8px 12px;
    transition: .2s ease;
}

.chat-container #send i, .chat-container #clip i {
    font-size: 1.2rem;
    color: #fff;
}

.chat-container #send:hover, .chat-container #clip:hover {
    background-color: #166abe;
}