.calendar-container {
  min-height: 100vh;
  padding: 180px;
  border-radius: 12px;
}

.calendar-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
}

#events-btn button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
  font-weight: bold;
  padding: 10px;
  background: #007bff;
  border: 0;
  transition: .3s;
}

#events-btn button a {
  color: #fff;
}

#events-btn button:hover {
  background: #0056b3;
}

.calendar-form input,
.calendar-form textarea,
.calendar-form button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.calendar-form button {
  background: #007bff;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.calendar-form button:hover {
  background: #0056b3;
}

.calendar-events ul {
  list-style: none;
  padding: 0;
}

.calendar-events li {
  background: white;
  margin-bottom: 12px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.calendar-events button {
  margin-top: 8px;
  padding: 6px 12px;
  background: red;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.calendar-events button:hover {
  background: darkred;
}